:root {
    --svg-twitch-filter: saturate(100%) invert(32%) sepia(46%) saturate(4793%) hue-rotate(250deg) brightness(80%) contrast(102%); /* #9146FF - 20% brightness */
    --svg-youtube-filter: brightness(0) saturate(100%) invert(21%) sepia(37%) saturate(6522%) hue-rotate(350deg) brightness(1) contrast(92%); /* #CD201F + 14% brightness */
    --svg-discord-filter: brightness(0) saturate(100%) invert(35%) sepia(33%) saturate(4321%) hue-rotate(224deg) brightness(99%) contrast(92%); /* #5865f2 */
    --svg-twitter-filter: brightness(0) saturate(100%) invert(79%) sepia(37%) saturate(7491%) hue-rotate(181deg) brightness(110%) contrast(100%); /* #4dbbff */
}

:root, body {
    width: 100vw;
    height: 100vh;

    margin: 0;
    overflow-x: hidden;

    background-color: #000;
}

body, button {
    font-family: "Oxygen Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

img.icon.next {
    content: url(/static/img/next.svg);
}

img.icon.prev {
    content: url(/static/img/next.svg);
    transform: scaleX(-1);
}

img.icon.twitch {
    content: url(/static/img/twitch.svg)
}

img.icon.github {
    content: url(/static/img/github.svg);
}

img.icon.youtube {
    content: url(/static/img/youtube.svg)
}

img.icon.discord {
    content: url(/static/img/discord.svg);
}

img.icon.twitter {
    content: url(/static/img/twitter.svg);
}

img.icon.vgen {
    content: url(/static/img/vgen.svg);
}

.toast {
    background-color: #fff;
    width: 200px;
    margin-left: 50vw;
    transform: translate(-50%, 50%);
    padding: 0.25rem;
    border-radius: 5px;
}

.toast.disappear {
    transform: translate(-50%, -150%);
}

.toast > span {
    width: 100%;
    display: inline-block;
    text-align: center;
}

@keyframes toast-appear {
    0% {
        transform: translate(-50%, -150%);
    }
}

@keyframes toast-disappear {
    0% {
        transform: translate(-50%, 50%);
    }
}