{% extends "base.html" %}
{% block title %}SZB{% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="/static/css/emotes.css">
<link rel="stylesheet" type="text/css" href="/static/css/index.css">
{% endblock %}
{% block bodycontent %}
<main>
    <div id="foreground-container">
        <div id="card-1">
            <img id="profile-image" alt="me" title="Literally me">
            <div class="vl"></div>
            <div>
                <h1>Hi <img class="emote hi"></h1>
                I'm SZB
                
            </div>
            <div id="nav-buttons">
                <button id="next-button">
                    <img class="icon next" alt="next">
                </button>
            </div>
        </div>
    </div>
</main>
{% endblock %}